.top-navbar-row {
  height: 70px;
}

.my-account-parent {
  text-align: right;
}

.my-account {
  line-height: 3;
  margin: 5px 20px 5px 20px !important;
  display: inline-block;
}

.home-section {
  white-space: nowrap;
  margin-top: 6px;
}

.apple-logo {
  width: 44px;
  margin-right: 7px;
}

.granny-grace-header {
  color: #dc2242;
  font-family: arial;
  font-weight: bold;
  margin-top: 5px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px !important;
}

.bottom-navbar-row {
  background-color: #6f9449;
  color: #ffffff;
  height: 55px;
}

.cart-icon {
  width: 70px !important;
}

.cart-icon-div {
  display: inline-block;
}

.services-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}

.services-menu {
  background-color: #dc2242;
  /*background-color: #007000;*/
  color: #ffffff;
}

.product-image {
  width: 100px;
  height: 100px;
}
.services-col {
  text-align: center;
  line-height: 4.5;
}

.services-row {
}

.outer-products-container {
  padding-top: 20px;
}

.product-filters-inner-container {
  border: 2px solid #d3d3d3;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  position: sticky;
  top: 15px;
}

.inner-products-container {
  margin-top: 20px !important;
  border: 2px solid #d3d3d3;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.service-icon {
  width: 50px;
  margin-right: 5px;
}

.apple {
  width: 35px !important;
}

.product-filters-inner-title {
  font-family: arial;
  font-weight: bold;
}

.default-sorting-div {
  background-color: #f9f9f9;
}

.btn {
  line-height: 0.5;
}

.btn-secondary:hover,
.btn-secondary {
  color: #000000;
  background-color: #ffffff;
  border-color: #d3d3d3;
}

.dropdown,
.grid,
.list {
  display: inline-block;
  line-height: 0.5;
}

.dropdown {
  float: left;
}

.grid,
.list {
  float: right;
}

.list {
  margin-right: 20px !important;
}

.toggle-product-styles {
  margin: 5px;
  border: 2px solid #d3d3d3;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
}

.card-columns .card {
  display: inline-block;
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 767px) {
  .product-filters-outer-container {
    border: 2px solid #d3d3d3;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    position: sticky;
    top: 15px;
  }
  .top-navbar-row {
    height: 130px;
  }
  .granny-grace-header {
    color: #dc2242;
    font-family: arial;
    font-weight: bold;
    margin-top: 5px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px !important;
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .card-columns .card {
    display: inline-block;
    width: 100%;
    height: 550px;
  }
}
