.change-admin-status {
  margin-right: 10px;
}

.delete-user-button {
  background-color: #dc2242;
  color: #ffffff;
  border: none;
}

.needs-top-margin {
  margin-top: 20px;
}

.active-user-div {
  margin: 10px 0 10px 0;
  border: 1px solid;
  padding: 10px;
  width: 70%;
}

.left-order-filter-column {
  display: inline-block;
  margin-right: 10px;
}

.right-order-filter-column {
  display: inline-block;
}

.welcome-admin-div {
  display: grid;
}

.title-row {
  grid-row: 1;
}

.welcome-row {
  grid-row: 2;
}

.active-order-div {
  padding-left: 20px;
  border: 1px solid;
  width: 80%;
  margin-bottom: 10px;
}

.textInCard {
  padding: 0;
  /* font-weight: bold; */
}
.eachItem {
  display: flex;
  flex-wrap: wrap;
}
.needs-bold {
  font-weight: bold;
}

img {
  width: 50px;
}
@media screen and (max-width: 575px) {
  .active-user-div {
    margin: 10px 0 10px 0;
    border: 1px solid;
    padding: 10px;
    width: 100%;
  }
}
