.list-group-item {
  height: 375px;
}

.product-filters-outer-container {
  z-index: 4;
  position: sticky;
  top: 0;
}

.product-filters-sticky-container {
  z-index: 4;
  position: sticky;
  top: 0;
}

.card-columns,
.card {
  display: inline-block;
  width: 100%;
}

.card-all-products {
  height: 410px;
}

.product-category {
  cursor: pointer;
}

.product-category:hover {
  color: #dc2242;
}

.card-body {
  height: 131px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .product-category {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .card-columns,
  .card {
    display: inline-block;
    width: 100%;
    height: 560px !important;
  }
  .product-category {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
}
