.product-filters-outer-container {
  z-index: 4;
  position: sticky;
  top: 0;
}

.product-filters-sticky-container {
  z-index: 4;
  position: sticky;
  top: 0;
}

.card-columns,
.card {
  display: inline-block;
  width: 100%;
  height: 435px !important;
}

.product-category {
  cursor: pointer;
}

.product-category:hover {
  color: #dc2242;
}

.card-body {
  height: 131px;
}

@media screen and (max-width: 575px) {
  .card-columns .card {
    display: inline-block;
    width: 100%;
    height: 550px;
  }
  .product-category {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
}
