.footer-title,
.footer-content,
.links-title,
.footer-copyright {
  color: #ffffff;
}

.page-footer {
  background-color: #dc2242;
}

.text-md-left {
  text-align: center;
}

.social-links {
  text-align: right;
}

.text-align-bottom-outer {
  position: relative;
  text-align: center;
}

.text-align-bottom-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-row {
  padding-bottom: 20px;
}

.copyright-info {
  color: #ffffff;
}
