.navbar-row {
  height: 70px;
}

a {
  color: #ffffff !important;
}

.granny-grace-header {
  color: #dc2242;
  font-family: arial;
  font-weight: bold;
  margin-top: 5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}

.bottom-navbar-items {
  margin-left: 46px;
}

.display-at-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 655px) {
  .bottom-navbar-row {
    background-color: #6f9449;
    color: #ffffff;
    height: 175px !important;
  }
  nav a:first-child {
    margin-left: 50px;
  }
  nav a {
    width: 100%;
    margin-left: 50px;
  }
  .display-at-mobile {
    display: inline;
  }
}
