.navbar-row {
  height: 70px;
}

a {
  color: #ffffff !important;
}

.granny-grace-header {
  color: #dc2242;
  font-family: arial;
  font-weight: bold;
  margin-top: 5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}

.display-at-mobile {
  display: none;
}

.navbar-light .navbar-toggler {
  display: none;
}

.bottom-navbar-container {
  line-height: 0;
  margin-top: -4px;
}

.lower-nav {
  line-height: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 655px) {
  .bottom-navbar-row {
    background-color: #6f9449;
    color: #ffffff;
    height: 100% !important;
  }
  nav a {
    width: 100%;
    margin-left: 50px;
  }
  .display-at-mobile {
    display: inline;
  }
  .navbar-light .navbar-toggler {
    display: none;
    color: #ffffff !important;
    border-color: #ffffff !important;
    float: right;
  }
}
