.apple-banner {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  font-weight: bold;
}

.top-title-row {
  display: block;
  font-size: 100px;
  white-space: nowrap;
  margin-bottom: -10px;
}

.bottom-title-row {
  display: block;
  font-size: 45px;
  white-space: nowrap;
  margin-top: 0;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.title-br {
  display: block;
  margin: 10px;
}
