.navbar-row {
  height: 70px;
}

a {
  color: #ffffff !important;
}

.granny-grace-header {
  color: #dc2242;
  font-family: arial;
  font-weight: bold;
  margin-top: 5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}

.bottom-navbar-items {
  margin-left: 46px;
}
